// COLORS
$color-base: #333333;

$color-primary: #fe6801;

$color-white: #ffffff;
$color-black: #000000;

$gray-light: #f7f6f9;
$gray-light-1: #f3f3f3;
$gray-light-2: #e3e3e3;
$gray-light-3: #f2f2f2;
$gray-light-4: #999999;
$gray-light-5: #ECECEC;
$gray-light-6: #e7e7e7;
$gray-light-6: #F7F7F7;
$gray-light-7: #d4d4d4;
$gray-light-8: #F9F9F9;
$gray-light-9: #F5F5F5;

$gray-drak: #91939d;
$gray-drak-1: #222222;
$gray-drak-3: #253a52;
$gray-drak-4: #969696;
$gray-drak-5: #333E48;
$gray-drak-6: #9e9e9e;

$drak-black: #181c1f;

$dark-blue: #0564d2;
$dark-blue-1: #0059a7;
$dark-blue-2: #5c6dbd;
$dark-blue-3: #0063d1;
$light-blue: #15c1d7;
$light-brown: #8c6e63;
$light-green: #009893;
$light-green-1: #2ecc71;


$offer-bg-color: #481c7e;

// FONT
$default-font-size: 1.6rem;

$xs-font-size: 1.2rem;
$sm-font-size: 1.4rem;
$md-font-size: 2rem;
$lg-font-size: 3rem;
$xl-font-size: 3.6rem;

$font-18: 1.8rem;
$font-24: 2.4rem;
$font-28: 2.8rem;

$shadow-light: 0 2rem 4rem rgba(0,0,0,.05);
$box-shadow: 0 0 11px rgba(33,33,33,.2);
