.header {

  &-support {
    position: relative;
  }

  &-offer {
    background-color: $offer-bg-color;

    &_banner {
      position: relative;

      a {
        text-decoration: none;
        cursor: pointer;
      }

      &-close {
        position: absolute;
        top: 10px;
        right: 0;

        @media (min-width: 768px) and (max-width: 991px) {
          top: 4px;
        }

        @media (min-width: 300px) and (max-width: 767px) {
          top: 1px;
        }

        &_icon {
          width: 2.5rem;
          height: 2.5rem;
          fill: $color-white;

          @media (min-width: 768px) and (max-width: 991px) {
            width: 2rem;
            height: 2rem;
          }

          @media (min-width: 300px) and (max-width: 767px) {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }

  &-top {
    background-color: $color-primary;

    &_contact {
      text-align: left;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (min-width: 300px) and (max-width: 991px) {
        text-align: center;
      }

      li {
        display: inline;
        color: $color-white;
        font-size: $xs-font-size;

        &:first-child {
          padding: 0 1rem;
          border-right: 1px solid $color-white;
        }

        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    &_nav {
      text-align: right;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (min-width: 300px) and (max-width: 991px) {
        text-align: center;
      }

      li {
        display: inline;

        &:not(:first-child) {
          margin-left: 1.5rem;
        }

        a {
          color: $color-white;
          font-size: $xs-font-size;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-middle {
    padding: 2rem 0;

    .cart-section a {
      color: $color-primary !important;
      font-size: $sm-font-size;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
    }

    .cart-section .v-line {
      background-color: $color-base;
      height: $sm-font-size;
      width: 1px;
      margin-top: 4px!important;
    }

    .cart-section .myCart {
      position: relative;
    }

    .cart-section .myCart i.fa-cart-plus {
      height: 30px;
      width: 30px;
      background: $gray-light;
      border-radius: 100%;
      line-height: 30px;
      text-align: center;
      color: $gray-drak;
      margin-top: -5px;
    }

    .cart-section .myCart .cart-quantity {
      position: absolute;
      right: -12px;
      top: -12px;
      background-color: $color-primary;
      color: $color-white;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 100%;
      display: block;

      font-size: $sm-font-size;
      font-weight: 500;
    }
  }

  &-bottom {
    //background-color: $gray-light-1;
    // Main Navigation Bar
    &-left-wrap {
      position: relative;
      background: $color-primary;
      padding: 1.5rem 0;
      border-radius: 4px;
      cursor: pointer;

      -webkit-transition: all .4s ease;
      transition: all .4s ease;

      @media (min-width: 300px) and (max-width: 767px) {
        display: none;
        visibility: hidden;
        opacity: 0;
      }

      .cat_menu_container {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 9999999;

        @media (min-width: 300px) and (max-width: 767px) {
          display: none;
          visibility: hidden;
          opacity: 0;
        }

        .cat_menu_title {
          display: flex;
          justify-content: space-around;

          .cat_burger,
          .cat_close {

            i {
              color: $color-white;
            }
          }

          .cat_menu_text {
            font-size: $sm-font-size;
            font-weight: 500;
            color: $color-white;
            text-transform: capitalize;
          }
        }
      }


      .cat_menu_container {

        @media (min-width: 300px) and (max-width: 767px) {
          display: none;
          visibility: hidden;
          opacity: 0;
        }

        .cat_menu {
          position: absolute;
          z-index: 9999999;
          left: 0;
          min-width: 100%;
          background: $color-white;
          border: 2px solid $dark-blue-3;
          visibility: hidden;
          opacity: 0;

          -webkit-transition: opacity 0.3s ease;
          -moz-transition: opacity 0.3s ease;
          -ms-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: all 0.3s ease;

          top: calc(100% + 30px);
          -webkit-box-shadow: none;
          box-shadow: none;
          width: 100%;

          &::before {
            position: absolute;
            content: "";
            top: -12px;
            left: 50%;
            -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
            width: 24px;
            height: 24px;
            background-color: $color-white;
            border-left: 2px solid $dark-blue-3;
            border-top: 2px solid $dark-blue-3;
          }
        }
      }
      .cat_menu_container > ul
      {
        padding-top: 13px;
      }
      .cat_menu_container:hover .cat_menu
      {
        visibility: visible;
        opacity: 1;
      }
      .cat_menu li
      {
        display: block;
        position: relative;
        width: auto;
        height: 100%;
        border-bottom: solid 1px $gray-light-3;
        padding-left: 35px;
        padding-right: 30px;
        white-space: nowrap;
      }
      .cat_menu li.hassubs {

        a {
          i {
            display: block;
            color: $gray-drak-1;
          }
        }
      }
      .cat_menu li a
      {
        text-decoration: none;
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        color: #000000;
        line-height: 46px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
      }
      .cat_menu li a:hover
      {
        text-decoration: none;
        color: #0e8ce4;
      }
      .cat_menu li a i
      {
        display: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        font-size: 12px;
      }
      .cat_menu li ul
      {
        z-index: 9999999;
        display: block;
        position: absolute;
        //top: 35px;
        top: -15px;
        left: 100%;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        background: $color-white;
        box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
      }
      .cat_menu li:hover > ul
      {
        visibility: visible;
        opacity: 1;
      }
      .main_nav_dropdown li
      {
        margin-right: 35px;
      }
      .main_nav_dropdown li:last-child
      {
        margin-right: 0px;
      }
      .main_nav_dropdown li a
      {
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        color: #a19a9a;
        line-height: 60px;
      }
      .main_nav_dropdown li li
      {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0px;
      }
      .menu_trigger_container
      {
        display: none;
        width: auto;
        height: 100%;
        padding-right: 25px;
        padding-left: 25px;
        cursor: pointer;
      }
      .menu_trigger
      {
        height: 100%;
      }
      .menu_burger_inner
      {
        display: inline-block;
      }
      .menu_trigger_text
      {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        color: $color-white;
        text-transform: uppercase;
        margin-right: 16px;
      }
    }

    .dropdown-width {
      width: 60rem;
      background-color: $color-white;
      z-index: 999999;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 30rem;
      }

      .title {
        font-size: $default-font-size;
        color: $gray-drak-1;
        font-weight: 500;
      }

      .dropdown-wrap {
        position: relative;
        background-color: $color-white;
        list-style: none !important;
        visibility: visible !important;
        opacity: 1 !important;

        .dropdown-item {
          display: block !important;
          position: absolute;
          left: 0 !important;
          top: 0px !important;

          .dropdown-link {
            font-size: $sm-font-size;
            line-height: 35px !important;
            font-weight: 400;
            text-decoration: none;
          }
        }
      }

      a.dropdown-link {
        line-height: 35px !important;
      }
    }

    // Main Search Area
    .xs-navbar-search {
      height: 5.4rem;
      border: 2px solid $gray-light-6;
      border-radius: 4px;
      position: relative;

      .input-group {
        height: 100%;
      }

      .form-control {
        &:focus {
          outline:0px !important;
          -webkit-appearance:none;
        }
        height: auto;
      }

      input:not([type=submit]) {
        border: 0;
        border-radius: 0;
        padding-left: 2.8rem;
        font-size: $sm-font-size;

        @media (min-width: 300px) and (max-width: 420px) {
          padding-left: 5px;
        }
      }

      input[type="search"]:focus {
        outline: none !important;
        box-shadow:none !important;
      }

      .xs-category-select-wraper {
        position: relative;

        &>i {
          position: absolute;
          left: -30px;
          top: 38%;
          font-size: 1em;
          z-index: 99;
        }

        .select {
          height: 100%;
          width: 100%;
          position: static;
          cursor: pointer;
          display: inline-block;
          font-size: 16px;
          color: #7b7b7b;
        }
      }

      .xs-category-select-wraper::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 40px;
        width: 1px;
        background-color: #e7e7e7;
        z-index: 1;
      }

      .xs-category-select {
        border: 0!important;
        height: 100%;
        padding-left: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #7b7b7b;
        min-width: 160px;
        max-width: 170px;
        cursor: pointer;
        background-image: url(../img/arrow-down.png);
        background-repeat: no-repeat;
        background-position: center right 19px;
        padding-right: 40px;
        white-space: nowrap;
        background-color: transparent;
        font-size: $sm-font-size!important;

        &:focus {
          outline:0px !important;
          -webkit-appearance:none;
        }

        @media (min-width: 300px) and (max-width: 420px) {
          padding-left: 5px;
          min-width: 125px;
          max-width: 125px;

          background-position: center right 5px;
          padding-right: 10px;
        }
      }

      .btn[type="submit"] {
        background-color: $color-primary;
        height: calc(100% + 4px);
        width: 68px;
        font-size: 1em;
        color: #f7f8fa;
        border-radius: 0 4px 4px 0;
        margin-right: -2px;
        margin-top: -2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        &:focus {
          outline: none !important;
        }

        @media (min-width: 300px) and (max-width: 420px) {
          width: 30px;
        }
      }

      button[type="submit"]:focus {
        outline: none !important;
        box-shadow:none !important;
      }

      .btn:not([data-toggle=popover]).btn-primary, .btn:not([data-toggle=popover]).btn-success {
        border: 0;
      }
    }
  }

  a.btn.btn-outline-primary.btn-lg.black-friday {
    position: relative;
    outline: none !important;
    box-shadow:none !important;
  }

  a.btn.btn-outline-primary.btn-lg.black-friday:focus {
    font-size: $xs-font-size;
    font-weight: 500;
    color: $gray-drak-1;
  }

  .btn:not([type=submit]) strong {
    display: block;
    font-size: $sm-font-size;
    text-transform: uppercase;
    color: $color-primary;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  .btn:not([type=submit]) {
    height: 5.4rem;
    width: 100%;
    color: #797979;
    letter-spacing: .2px;
    padding: 8px 12px;
    border: 2px solid #e7e7e7;
    -webkit-transition: all .6s;
    transition: all .6s;
  }

  .btn:not([data-toggle=popover]).btn-outline-primary:hover {
    background-color: transparent;
    border-color: $gray-drak-1;
    color: $color-white !important;
  }

  a.btn.btn-outline-primary.btn-lg.black-friday::before {
    content: '';
    position: absolute;
    right: 0px;
    bottom:0px;
    z-index:-1;
    width: 100%;
    height:100%;
    background: transparent;
    box-shadow: inset 0px 0px 0px $gray-drak-1;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  }

  a.btn.btn-outline-primary.btn-lg.black-friday:hover::before {
    box-shadow: inset 300px 0px 0px $gray-drak-1;
    border-color: $gray-drak-1;
  }

}
